.map{
    position:relative;
    margin-bottom:20px;
    display:flex;
    align-items: center;
}

.state{
    outline:0;
    cursor:pointer;
    transition:all 200ms;
}

.state:hover{
    /* fill:#4696FF; */
    filter:brightness(.7);
}

.tooltip{
    position:absolute;
    pointer-events: none;
    background-color:white;
    box-shadow:2px 3px 8px black;
    border-radius:5px;
    overflow:hidden;
    opacity:0;
    transition:all 200ms;
    border:1px solid black;
}

.tooltip.active{
    opacity:1;
}

.tooltip .header{
    background-color:#4696FF;
    display:flex;
    justify-content: space-between;
    width:100%;
    white-space: nowrap;
    border-bottom:1px solid black;
}

.tooltip .header div{
    padding:5px 10px;
}

.tooltip .tooltip-data{
    padding:2px 10px;
    border-bottom:1px solid #CCC;
}